.content-pages {
	width: 60%;
	margin: 0 auto;
		p {
			line-height: 24px;
			font-size: 14px;
		}
}

.art-navigation {
	display: flex;
    flex-wrap: wrap;
	li {	
	    margin-right: 10px;
	    background-color: #EDEDED;
	    border-top: 3px solid #1d93de;
	    padding: 5px;
	    margin-bottom: 10px;
	    z-index: 1;
    	&:first-child {
			background-color: #fff;
			border-top: none;
			padding-left: 0px;
		}
	    a {
	    	color: #003778;
	    }
	}
}

.content-article {
	margin-top: 20px;
		ul {
			li {
				list-style: disc;
				margin-left: 19px;
				line-height: 24px;
			}
		}
		.img-article {
			width: 60%;
			float: left;
			margin: 0px 15px 15px 0px;
				img {
					width: 100%;
				}
		}
		h2 {
			margin: 20px 0;
			font-size: 24px;
			text-transform: uppercase;
		}
		p {
			font-size: 14px;
			line-height: 24px;
		}
}

