.ico-border {
	display: inline-block;
    position: relative;
    width: 124px;
    	&:before,  {
		    content: "";
		    background: #181818;
		    display: inline-block;
		    height: 4px;
		    position: absolute;
		    top: 8px;
		    width: 42px;
		    left: 0;
    	}
    	&:after {
		    content: "";
		    background: #181818;
		    display: inline-block;
		    height: 4px;
		    position: absolute;
		    top: 8px;
		    width: 42px;
		    right: 0;
    	}
}

.ico-bg {
    background-position: left top;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 20px;
    margin: 0 auto;
    position: relative;
    width: 20px;
}

.flower { 
    background-image: url(../images/ico-flower.png);
}

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
		h2 {
			font-size: 24px;
			margin: 15px 0px;
		}
}

.content-text-home {
	width: 70%;
	margin: 20px auto;
}

.container-certifications {
	height: 647px;
	width: 100%;
	background-image: url(../images/certyfikat.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
	position: relative;
    	&:before {
		  background-color: rgba(29,147,222,0.9);
		  content: '';
		  display: block;
		  height: 647px;
		  position: absolute;
		  width: 100%;
		  top: 0;
		  left: 0;
    	}
    h3 {
    	color: #fff;
    	font-size: 36px;
    	z-index: 10;
    }
}

.certifications-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 20px;
		.ico-border {
    		&:after {
    			background: #fff;
    		}
    		&:before {
    			background: #fff;
    		}
    		.ico-bg {
    		    background-position: right top;
    		    opacity: 0.15;
    		}
    	}
}

.ico-border-cert {
	margin-top: 20px;
}

// CERTYFIKATY NAGRODY //

.certifications {
	display: flex;
	justify-content: space-around;

}

.first-certifications {
	background-image: url(../images/certyfikaty-nagrody-09.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 450px;
    z-index: 10;
}

.second-certifications {
	background-image: url(../images/certyfikaty-nagrody-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 450px;
    z-index: 10;
}



.container-prize {
	width: 80%;
	min-height: 150px;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
		a {
	    	border: 10px solid #ededed;
			img {
				height: 320px;
				width: 232px;
			}
		}
}

.prizes-list {
	a {
		margin-bottom: 20px;
		img {
			width: 170px;
			height: 170px;
		}
	}
}

.text-page {
	margin: 0 18%;
}
