.container-contact {
	min-height: 20px;
		h3 {
			font-size: 24px;
			margin-bottom: 20px;
		}
		b {
			font-weight: bold;
		}
}

.to-bold {
	font-weight: bold;
}

.phone {
	color: #000;
}

.container-form {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-bottom: 50px;
		p {
			margin: 10px 0px;
		}
		textarea {
			height: 190px;
			font-size: 14px;
				&:focus {
					-webkit-box-shadow: 0px 0px 41px -11px rgba(0,0,0,0.75);
					-moz-box-shadow: 0px 0px 41px -11px rgba(0,0,0,0.75);
					box-shadow: 0px 0px 41px -11px rgba(0,0,0,0.75);
					border: 1px solid #1d93de;
				}
		}
}

.text-input {
	height: 48px;
	font-size: 16px;
	padding-left: 15px;
		&:focus {
			-webkit-box-shadow: 0px 0px 41px -11px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 41px -11px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 41px -11px rgba(0,0,0,0.75);
			border: 1px solid #1d93de;
		}
}

.send-message {
    color: #fff;
    cursor: pointer;
    float: right;
    margin: 10px 0 0;
    font-size: 14px;
    padding: 11px 20px;
    border-radius: 3px;
    width: 78px;
    height: 38px;
    background-color: #003778;
    transition: all 0.3s;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    	&:hover {
    		background-color: #1d93de;
    	}
}

#main-map, #map-bet {
	width: 100%;
	height: 500px;
}

.maps-container {
	h2 {
	    font-size: 20px;
	    margin: 90px 0px 20px 0px;
	}
}