.swiper-container {
	height: 546px;
}

.slide-1 {
	background-image: url(../images/slajd-1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

.slide-2 {
	background-image: url(../images/slajd-2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

.slide-3 {
	background-image: url(../images/slajd-3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}