html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

///////////////////////

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.container-logo {
	height: 105px;
	width: 100%;
	background: #003778;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
}

.logo {
	background-image: url(../images/main-logo.png);
	background-repeat: no-repeat;
	width: 405px;
	height: 100%;
	margin-right: 50px;
	h1 {
		text-indent: -9999px;
	}
}

.text-logo {
	h2 {
		color: #fff;
		font-size: 24px;
	}
}

.ue-top {
	width: 100%;
	height: 60px;
	padding: 5px 0px;
		img {
			width: 455px;
			height: 50px;
			float: right;
		}
}

nav {
	li {
		cursor: pointer;
		font-size: 13px;
	}
}

.menu-container {
	background-color: #003778;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.1) 40%, rgba(255, 255, 255, 0));
}

.nav { 
	margin: 0 auto;
	li {
		a {
			color: #fff;
		}
	}
}

.navbar {
	margin-bottom: -1px;
}

.dropdown-menu {
	background-color: #003778;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.navbar-header {
	background-color: #003778;
}

// Swiper //

.swiper-container {
	height: 846px;
}

.slide-1 {
	background-image: url(../images/slajd-1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

.slide-2 {
	background-image: url(../images/slajd-2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

.slide-3 {
	background-image: url(../images/slajd-3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

.ico-border {
	display: inline-block;
    position: relative;
    width: 124px;
    	&:before,  {
		    content: "";
		    background: #181818;
		    display: inline-block;
		    height: 4px;
		    position: absolute;
		    top: 8px;
		    width: 42px;
		    left: 0;
    	}
    	&:after {
		    content: "";
		    background: #181818;
		    display: inline-block;
		    height: 4px;
		    position: absolute;
		    top: 8px;
		    width: 42px;
		    right: 0;
    	}
}

.ico-bg {
    background-position: left top;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 20px;
    margin: 0 auto;
    position: relative;
    width: 20px;
}

.flower { 
    background-image: url(../images/ico-flower.png);
}

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
		h2 {
			font-size: 24px;
			margin: 15px 0px;
		}
}

.container-certifications {
	height: 647px;
	width: 100%;
	background-image: url(../images/certyfikat.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    // 	&:before {
		  // background-color: rgba(29,147,222,0.9);
		  // content: '';
		  // display: block;
		  // height: 647px;
		  // position: absolute;
		  // width: 100%;
    // 	}
    h3 {
    	color: #fff;
    	font-size: 36px;
    	z-index: 10;
    }
}

.certifications-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 20px;
}

.ico-border-cert {
	margin-top: 20px;
}

.certifications {
	display: flex;
	justify-content: space-around;
}

.first-certifications {
	background-image: url(../images/certyfikaty-nagrody-09.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 450px;
}

.second-certifications {
	background-image: url(../images/certyfikaty-nagrody-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 450px;
}

// footer //

.container-footer {
    background-color: #1d93de;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.logo-footer {
	background-image: url(../images/logo-footer.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 64px;
    margin: 0 auto;
}