@media(max-width: 1450px) {
	.content-pages {
		width: 80%;
	}
	.container-footer {
		width: 80%;
	}
	.copyright  {
		p { 
			margin-left: 10%;
		}
	}
}

@media(max-width: 1366px) {
	.main-product{
		width: 70%;
	}
	.container-other-products {
		width: 28%;
	}
}

@media(max-width: 1200px) {
	.text-logo {
		display: none;
	}
	.title-where-buy {
		h2 {
			width: 50%;
		}
	}
}

@media(max-width: 768px){
	.short-description {
		position: relative;
		right: 0;
	}
	header {
		position: relative;
		&:after {
			display: none;
		}
	}
	.navbar-nav {
		display: block;
	}

	.navbar-nav {
		flex-direction: column;
	}
	.title-where-buy {
		h2 {
			width: 100%;
		}
	}
	.text-logo {
		display: none;
	}
	.logo {
		margin-right: 0px;
	    background-size: contain;
	}
	.ue-top {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 320px;
			height: 35px;
		}
	}
	.container-footer {
    	.ico-border {
    		&:after {
    			background: #fff;
    			width: 40%;
    		}
    		&:before {
    			background: #fff;
    			width: 40%;
    		}
    		.ico-bg {
    		    background-position: right top;
    		}
    	}    	
	}
	.copyright {
		p {
			margin-right: 15%;
		}
	}
	.content-text-home {
		width: 80%;
	}
	.container-certifications {
		height: auto;
		padding-bottom: 20px;
			&:before {
				height: 100%;
			}
	}
	.certifications-title {
		margin: 0 10%;
	}
	.certifications {
		flex-direction: column;
		align-items: center;
	}
	.second-certifications {
		margin-top: 20px;
	}
	.container-prize {
			a {
		    	margin-top: 20px;
			}
	}
	.welcome {
		h2 {
			margin: 20px 10% 0 10%;
		}
	}
	.container-prizes {
		h2 {
			margin: 20px 20px;
		}
	}
	.content-pages {
		width: 80%;
	}
	.container-product {
		flex-direction: column;
	}
	.main-product {
		width: 100%;
	}
	.container-other-products {
		width: 100%;
		margin-top: 20px;
	}
	.bottom-product {
		margin-top: 30px;
	}
	.photos-other-products {
		margin-bottom: 20px;
	}
	.list-bottom-product {
		li {
			margin-bottom: 10px;
		}
	}
	.product-nav {
		flex-direction: column;
			li {
				text-align: center;
			}
	}
	.top-info-product {
		flex-direction: column;
	}
	.photo-product {
		img {
			width: 70%;
			margin: 20px 0px 20px 15%;
		}
	}
}