.main-product{
	width: 60%;
	z-index: 1;
}

.container-product {
	display: flex;
}

.product-nav {
	display: flex;
	justify-content: center;
	li {
	    color: #1d93de;
	    font-weight: bold;
	    text-decoration: underline;
        padding: 10px 10px;
   		background: #ededed;
   		border-top: 3px solid #808080;
   		border-left: 1px solid #d9d9d9;
   		border-right: 1px solid #d9d9d9;
   		border-bottom: 1px solid #d9d9d9;
   		margin: 0 5px;
	}
	.active-nav {
		border-top: 3px solid #1d93de;
		background: #fff;
	}
}

.content-product {
	border: 1px solid #d9d9d9;
	padding: 20px;
}

.top-info-product {
	display: flex;
	min-height: 250px;
	position: relative;
}

.photo-product {
	img {
		width: 100%;
	}
}

.short-description {
	position: absolute;
	right: 50px;
	h2 {
	    margin-bottom: 5px;
	    color: #e80230;
	    font-size: 20px;
    	letter-spacing: 2px;
    	margin-bottom: 20px;
	}
	ul {
		 list-style: none;
		li {
		 padding-left: 30px; 
		 text-indent: -.7em;
		 margin-bottom: 10px;
		 line-height: 18px;
		  	&:before {
 			 content: "• ";
 			 color: #e80230;
		  	}
		}
	}
}

.main-product-description {
	margin-top: 20px;
	p {
	    line-height: 24px;
	}
}

.container-other-products {
	width: 38%;	
	margin-left: 2%;
}

.box-other-products {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-other-product {
	font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Lato-light",sans-serif;
}

.title-click-more {
	margin: 10px 0px 20px 0px;
	font-size: 27px;
	font-family: "Allura-regular",sans-serif;
}

.photos-other-products {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.other-product {
    width: 100px;
    height: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: all 0.3s;
		&:hover {
			transform: scale(1.2);
		}
}

.bottom-product {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.list-bottom-product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
		a {
			font-size: 24px;	
		}
}

.targetDiv {
	display: none;
}